.movie-card {
  font-family: 'Inter', sans-serif;
  width: 451px;
  height: 279px;
  display: flex;
  margin-bottom: 37px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  text-align: left;
  position: relative;
}

.movie-card__image {
  margin-right: 20px;
  max-width: 183px;
}

.movie-card__right-side {
  width: 100%;
}

.movie-card__top {
  width: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}

.movie-card__vote {
  right: 0;
  position: absolute;
  font-size: 12px;
  border: 2px solid #e9d100;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  border-radius: 100%;
  margin-right: 9px;
  text-align: center;
}

.movie-card__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 28px;
}

.movie-card__date {
  display: block;
  color: #827e7e;
  font-size: 12px;
  margin-bottom: 9px;
}

.movie-card__overview {
  margin: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 22px;
}

.rate {
  font-size: medium;
  position: absolute;
  bottom: 20px;
}

.vote--yellow {
  border-color: #e9d100;
}

.vote--red {
  border-color: #e90000;
}

.vote--orange {
  border-color: #e97e00;
}

.vote--green {
  border-color: #66e900;
}
