.movie-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 36px;
}

.content {
  width: 1010px;
  padding: 36px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #f8f8f8;
}
