.movie-list {
  width: 1010px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  column-count: 2;
}

.content {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: #f8f8f8;
  border-radius: 4px;
}
